<main>
    <p>{{event.title}}</p>
    <p>{{event.overview}}</p>
    <p>{{event.content}}</p>
    <p>{{event.category}}</p>
    <p>{{event.tags}}</p>
    <p>{{event.location}}</p>
    <p>{{event.price}}</p>
    <p>{{event.created}}</p>
    <img src ="thumbnail_1_1671086208937_4646.jpg" width=300 alt="Hello">
</main>