<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href= "/public/css/main.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/public/js/mapApi.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{title}}</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Event Rally</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/treanding">Trending</a></li>
                <li><a href="/latest">Latest</a></li>
                <li><a href="/events/all">Events</a></li>
            </ul>
            
            
            {{#if is_authenticated}}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/{{user._id}}"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
                    <li><a href="/events/create"><span class="glyphicon glyphicon-user"></span> Create</a></li>
                    {{#if is_admin}}
                        <li><a href="/admin/allusers"><span class="glyphicon glyphicon-log-in"></span> USERS</a></li>
                        <li><a href="/admin/allreports"><span class="glyphicon glyphicon-log-in"></span> REPORTS</a></li>
                    {{/if}}
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            {{else}}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            {{/if}}
        </div>
    </nav>
    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcRs0sa21dO5jEBhHPoOq0sUClaWHwung&callback=initMap&v=weekly&libraries=places" defer></script>
</body>
</html>

